<div class="bigCard__container">
    <div class="bigCard__image-container">
        <img class="bigCard__image" src="https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fG1vZGV8ZW58MHx8fHwxNjg3NTY5NzA0&ixlib=rb-4.0.3&q=80&w=1080" alt="Big Card Image">
    </div>
    <div class="bigCard__text-container">
        <h2 class="bigCard__title">Lorem ipsum dolor sit amet</h2>
        <p class="bigCard__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut erat nec ligula facilisis tincidunt. Donec ac nunc a enim efficitur facilisis. Sed euismod, nisi vel consectetur interdum, nisl nisi aliquet nunc, eget bibendum nunc nisl eget nunc.</p>
        <button class="bigCard__button">Read More</button>
    </div>
</div>
