<div class="smallCard__container">
    <div class="smallCard__image-container">
      <img class="smallCard__image" src="https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fG1vZGV8ZW58MHx8fHwxNjg3NTY5NzA0&ixlib=rb-4.0.3&q=80&w=1080" alt="Small Card Image">
    </div>
    <div class="smallCard__text-container">
      <h3 class="smallCard__title">Lorem ipsum dolor sit amet</h3>
      <p class="smallCard__text">Consectetur adipiscing elit. Quisque ut erat nec ligula...</p>
      <button class="smallCard__button">Read More</button>
    </div>
</div>
  