.nav__container {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav__links a {
  color: white;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.nav__links a:hover {
  color: #ff00bb;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav__container {
    flex-direction: column;
    padding: 16px 20px;
  }
}
